.bg-gray{
    background-color: rgba(219, 217, 217, 0.777);
}
.bg-ash{
  background-color: rgba(170, 170, 171, 0.063);
}
.bg-darkgray{
  background-color: rgba(55, 55, 55, 0.788);
}
.fs-7{
    font-size: 12px;
    color:rgb(101, 100, 99);
}
.dash-line {
  border-top: 2px dashed rgb(194, 191, 191);
}
.sh-90{
  height:92vh !important;
}
@media (max-width: 576px) {
  .scroll-sm-ch{
    width: 650px;
  }
}
